body {
	margin: 10px;
}

#develop {
	width: 50%;
	float: right;
}

#code {
	width: 100%;
}

#world {
	float: left;
}

.var {
	position: relative;
}
.var .value {
	position: absolute;
	width: 100px;
	height: 80px;
	line-height: 80px;
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	color: #FFF;
}
.var .name {
	position: relative;
	top: -20px;
	font-size: 24px;
	text-align: center;
}